.navbar {
    background-color: #F2F3EB;
    font-style: oblique;
    font-family: Century, serif;
    margin-top: -20px;

}

.navbar-brand {
    font-size: xxx-large;
    font-family: "Monotype Corsiva", serif;
}

#landing {
    background-color: rgba(46,152,228,0.07);
}

#image{

}

#about {
    font-family: Century, serif;
    text-align: center;
    font-size: 30px;
}

#portfolio {
    font-size: 19px;
    font-family: Century, serif;

}

#button {
    font-size: x-large;
    font-family: Century, serif;
}

#toolbox {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}

.p {
    font-size: xx-large;
}

#github{
    margin-left: -20px;
}

#js{
    width: 125px;
    height: 55px;
}

#react{
    margin-left: 20px;
    height: 50px;
    width: 40px;
}

#mysql{
    margin-left: 10px;
}

#bootstrap{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

#top-tools{
    margin-top: 40px;
    margin-bottom: 30px;
}
#bottom-tools{
    margin-bottom: 50px;
}

#portfolio-text{
    padding-top: 80px;
    padding-left: 100px;
}
