.navbar {
    background-color: rgba(255,187,60,0.07);
    font-style: oblique;
    font-family: Century, serif;

}

.navbar-brand {
    font-size: xxx-large;
    font-family: "Monotype Corsiva", serif;
}

.landing {
    background-color: rgba(255,187,60,0.07);
}

